.thanking-customers-section {
  background-color: skyblue;
  background-size: cover;
  height: 100vh;
}

.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
  border-radius: 10px
}
.thanking-customers-section-modal-title {
  color: #d0b200;
  font-weight: 800;
}
.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.modal-content{
  width: 800px
}
.model-body-img{
  width:1000px;
  height: 200px;
}
.btn{
    background-color:green;
    color: #ffffff;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    border: 0px;
    padding-bottom:20px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 300px;

}
.container{
  padding:10%;
  text-align: center;
  margin-left: 300px

}

.consumer-image{
  width: 150px;
  height: 300px;
  margin-left: 100px;
  margin-right:150px;

}
.text{
  padding-bottom: 30px;
  padding-top:30px;
  margin-right: 300px;

}
.left-text
{
  margin-right:100px;
}
.box
{
  padding-left: 100px;
}
